<header>
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="/assets/video.mp4" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3">Delivery</h1>
        <p class="lead mb-0">HASTA LA PROXIMA</p>
        <button type="button" class="btn btn-default" routerLink='tienda' ><a routerLink='tienda'>Compra aqui</a> </button>

      </div>
    </div>
  </div>
</header>

<!--empieza los cuadros-->

<div class="features">
  <div class="container">
    <h3 class="m_3">Platillos</h3>
    <div class="close_but"></div>
      <div class="row">

        <div class="card  col-3" style="width: 18rem;">
          <img class="card-img-top" src="assets/images/tacacho con cecina.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Tacacho con carne frita</h5>
            <p class="card-text">Comida tipica</p>
          </div>
        </div>

        <div class="card col-3" style="width: 18rem;">
          <img class="card-img-top" src="assets/images/taiche frito.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Paiche frito</h5>
            <p class="card-text">Comida tipica</p>
          </div>
        </div>

        <div class="card col-3" style="width: 18rem;">
          <img class="card-img-top" src="assets/images/Arroz-chaufa.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Arroz Caufa Regional</h5>
            <p class="card-text">Comida tipica</p>
          </div>
        </div>

        <div class="card col-3" style="width: 18rem;">
          <img class="card-img-top" src="assets/images/juane.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Juane</h5>
            <p class="card-text">Comida tipica</p>
          </div>
        </div>
     
    </div>
   </div>
  </div>