
header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 300px;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: black no-repeat center center scroll;
    }
    header video {
      width: 325%;
    }
  }

/*------------------------------*/
.features{
	padding:8% 0;
}
h3.m_3{
	color: #000;
	font-size: 3em;
	font-weight: 800;
	text-align: center;
	text-transform: uppercase;
	margin-bottom:2%;
}
.content_bottom-text h3, h3.m_3, .content-top h2{
  font-size:2.5em;
}
.h3.m_3 {
	font-size: 2em;
 }
 .h3.m_3 {
	font-size: 1.5em;
 }


