<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <ul class="footer_box">
          <h4>Productos</h4>
          <li><a href="#">Comida regional</a></li>
          <li><a href="#">Comida Chifa</a></li>
          <li><a href="#">Comida rapida</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="footer_box">
          <h4>Acerca de</h4>
          <li><a href="#">Empleos</a></li>
          <li><a href="#">Tiendas</a></li>
          <li><a href="#">Amigos</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="footer_box">
          <h4>Atencion al clientet</h4>
          <li><a href="#">Contactanos</a></li>
          <li><a href="#">Envio de pedidos</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="footer_box">
          <h4>BOLETIN INFORMATIVO</h4>
          <div class="footer_search">
             <form>
            <input type="text" value="Envianos un mensaje" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter your email';}">
            <input type="submit" value="Vamos">
             </form>
          </div>
          <ul class="social">	
            <li ><a href="#"><span class="icon-facebook"> </span></a></li>
            <li ><a href="#"><span class="icon-twitter"> </span></a></li>
            <li ><a href="#"><span class="icon-instagrem"> </span></a></li>	
            <li ><a href="#"><span class="icon-youtube"> </span></a></li>							  				
          </ul>
           </ul>
      </div>
    </div>
  </div>
</div>