/*--footer--*/
.footer{
	background:#000;
    padding:5% 0;
}		
ul.footer_box{
	list-style:none;
	padding:0;
}	
ul.footer_box h4{
	color:#fff;
	font-size:1.1em;
	text-transform:uppercase;
	font-weight:700;
	margin-bottom: 8%;
}
ul.footer_box li a{
	color: #B8B6B6;
	font-size: 0.8125em;
	text-decoration:none;
	line-height: 2em;
}
ul.footer_box li a:hover{
	color:#fff;
}
.footer_search {
	margin-top: 10%;
	width:100%;
	position:relative;
}
.footer_search input[type="text"] {
	outline: none;
	padding: 12px 15px;
	outline: none;
	color: #202020;
	background: #FFF;
	border: none;
	width: 74%;
	line-height: 1.5em;
	font-size: 0.8125em;
}
.footer_search  input[type="submit"] {
	background: #C7C7C7;
	padding: 9px 19px;
	border: none;
	cursor: pointer;
	position: absolute;
	line-height: 1.6em;
	font-size: 1em;
	color: #000;
	font-weight: 800;
	outline: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.footer_search  input[type="submit"]:hover {
	background:#222;
	color:#fff;
}

/*para que el la ul se ordenbe de lado*/
ul.social{
	list-style:none;
	padding:0;
	margin-top: 17%;
}	
ul.social li:first-child, ol li:first-child {
	margin-top: 0px;
	margin-left: 0;
}
ul.social li{
	display:inline-block;
	margin-right:8px;
}	
ul.social li a span:hover{
	opacity:0.5;
}		