<div class="container">

    <div class="row">

        <div class="card col-md-3" style="width: 18rem;">
            <img src="../../../assets/images/juane.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Juane</h5>
              <p class="card-text">Juane tradiconal de arroz con pollo y maduro frito.</p>
              <span class="">$ </span>
              <span class="">5.00</span><br /> <!--br para saltar linea-->
              <a href="#" class="btn btn-dark">Añadir al carrito</a>
            </div>
          </div>

          <div class="card col-md-3" style="width: 18rem;">
            <img src="../../../assets/images/paparellena.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Papa Rellena</h5>
              <p class="card-text">Papa cocinada rellena de mescla especial y frita.</p>
              <span class="">$ </span>
              <span class="actual">4.00</span><br />
              <a href="#" class="btn btn-dark">Añadir al carrito</a>
            </div>
          </div>

          <div class="card col-md-3" style="width: 18rem;">
            <img src="../../../assets/images/pollo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Pollo a la Braza</h5>
              <p class="card-text">Tradicional pollo a la braza con papas fritas.</p>
              <span class="">$ </span>
              <span class="actual">15.00</span><br />
              <a href="#" class="btn btn-dark">Añadir al carrito</a>
            </div>
          </div>

          <div class="card col-md-3" style="width: 18rem;">
            <img src="../../../assets/images/Arroz-chaufa.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Arroz Chaufa</h5>
              <p class="card-text">Arroz chaufa tradicional con receta especial de la zona.</p>
              <span class="">$ </span>
              <span class="actual">12.00</span><br />
              <a href="#" class="btn btn-dark">Añadir al carrito</a>
            </div>
          </div>

          <div class="card col-md-3" style="width: 18rem;">
            <img src="../../../assets/images/sopa de pollo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Sopa de pollo</h5>
              <p class="card-text">Sopa especial de pollo de chacra y huevos cocinados.</p>
              <span class="">$ </span>
              <span class="actual">7.00</span><br />
              <a href="#" class="btn btn-dark">Añadir al carrito</a>
            </div>
          </div>

          <div class="card col-md-3" style="width: 18rem;">
            <img src="../../../assets/images/tacacho con cecina.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Tacacho con Carne Frita</h5>
              <p class="card-text">Tacacho de platano frito con carne de vaca frita.</p>
              <span class="">$ </span>
              <span class="actual">18.00</span><br />
              <a href="#" class="btn btn-dark">Añadir al carrito</a>
            </div>
          </div>

          <div class="card col-md-3" style="width: 18rem;">
            <img src="../../../assets/images/taiche frito.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Paiche frito</h5>
              <p class="card-text">Platanos fritos tipo patacores y carne de paiche frito.</p>
              <span class="">$ </span>
              <span class="">30.00</span><br />
              <a href="#" class="btn btn-dark">Añadir al carrito</a>
            </div>
          </div>

          <div class="card col-md-3" style="width: 18rem;">
            <img src="../../../assets/images/aji de gallina.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Aji de gallina</h5>
              <p class="card-text">Aji de gallina muy rico con arroz especial.</p>
              <span class="">$ </span>
              <span class="">9.00</span><br />
              <a href="#" class="btn btn-dark">Añadir al carrito</a>
            </div>
          </div>
          

    </div>

</div>